<a href="https://colab.research.google.com/github/DionKimmm/2019SummerML/blob/master/Day3_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## RANGE

In [2]:
list1 = list(range(10)) # 0 ~ 9까지의 범위를 생성 
print(list1)
list2 = list(range(1, 10)) # 1 ~ 9까지의 범위를 생성 
print(list2)
list3 = tuple(range(1, 10, 2)) # 1 ~ 9까지의 범위에서 2씩 증가하는 범위
print(list3)
list4 = set(range(10, 0, -1)) # 10 ~ 1까지의 범위에서 1씩 감소하는 범위
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 3, 5, 7, 9)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 목록 자료형은 괄호를 기준으로 자료형이 나뉘어집니다.

In [0]:

t = ()     #tuple 자료형 선언
l = []     #list 자료형 선언
s = {}     #set 자료형 선언

In [4]:
adult = 18 
age = 17
gender = 'male'

if age<adult :  
  print('당신은 미성년자입니다.')
  if gender == 'male' :
    print('당신은 소년입니다.') # 미성년자 이면서 남성
  else :
    print('당신은 소녀입니다.') # 미성년자 이면서 여성
else :  
    print('당신은 성인입니다.')

SyntaxError: ignored

## 실습) 구구단 출력

In [10]:
for x in range(2,10) :
  for y in range(2,10):
    print(x*y, end=' ')
  print()

4 6 8 10 12 14 16 18
6 9 12 15 18 21 24 27
8 12 16 20 24 28 32 36
10 15 20 25 30 35 40 45
12 18 24 30 36 42 48 54
14 21 28 35 42 49 56 63
16 24 32 40 48 56 64 72
18 27 36 45 54 63 72 81

## 실습) 홀수 출력

In [11]:
for i in range(1, 11) :
  if i % 2 == 0 :
    continue
  print(i)

1
3
5
7
9