<a href="https://colab.research.google.com/github/DionKimmm/2019SummerML/blob/master/Day6_%EC%83%81%EC%86%8D%2C%EB%8B%A4%ED%98%95%EC%84%B1%2C%EB%9E%8C%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OS에 의한 메모리 구분
##Stack, Heap, Data, Code(Text)

In [0]:
class Vehicle: # Code 영역
  def __init__(self, wheels, seats, engine):
    self.wheels = wheels
    self.seats = seats
    self.engine = engine
    
  def drive(self):
    print('Run')

In [0]:
bike = Vehicle(2, 1, 2) 
# 새로운 Vehicle을 불러냈습니다.
# 고로 stack 영역에 bike가 생성되고, Heap영역에 bike에 대한 Vehicle의 Instance가 생깁니다

In [68]:
car = Vehicle(4, 4, 4) 
# 또 다른 새로운 Vehicle이 생성되었습니다.
# 고로 stack 영역에 car가 생성되고, Heap영역에 car2에 대한 Vehicle의 Instance가 생깁니다
print('car.wheels = ', car.wheels)
print('car.seats = ', car.seats)
car.drive()

car.wheels =  4
car.seats =  4
Run

In [67]:
copy_bike = bike 
# stack 영역에 copy_bike가 생성되고, 
# Heap 영역에는 bike에 대한 Instance가 copy_bike에 대한 instance로 업데이트 됩니다.
copy_bike.wheels = 4
print('bike.wheels = ', copy_bike.wheels)

bike.wheels =  4

![대체 텍스트](https://user-images.githubusercontent.com/38340645/60754827-c3272c00-a021-11e9-82dc-9a3765b3e4b7.png)

In [9]:
class Car(Vehicle):
  def __init(self):
    super().__init__(4, 5, 4)
    
  def shift_gear():
    print('변속')
    
car1 = Car(4, 5, 4)
car1.wheels = 6
print('car1.wheels = ', car1.wheels)
print('car1.seats = ', car1.seats)
car1.drive()

car1.wheels =  6
car1.seats =  5
Run

![image](https://user-images.githubusercontent.com/38340645/60754850-3466df00-a022-11e9-93ae-9ec6b1ccbb48.png)

# 다형성

In [0]:
class Vehicle():
  def drive(self):
    print('Run')

class Sedan(Vehicle):
  def drive(self):
    print('Run Sedan')

class Truck(Vehicle):
  def drive(self):
    print('Run Truck')
  
class Boat():
  def drive(self):
    print('Fly')

In [36]:
def drive(vehicle): #전역함수, global function, 가장 먼저 실행되는 지점
  if isinstance(vehicle, Vehicle):
    vehicle.drive()
    
sedan = Sedan()
drive(sedan)

Run Sedan

# Lambda Function
* 일반 함수를 이용하면 필요한 기능의 재사용이 가능하다
> 함수를 정의한 후 필요할 때마다 호출하여 사용

* 가끔씩은 함수를 만들지 않고 함수화된 기능만을 불러 사용하고자 할 경우가 있다.
>프로그램을 단순하게 만들 수 있다.
>1회용으로 함수를 만들고 싶은데 def xxx(): 과 같은 이름을 짓는 것이 번거롭게 느껴질 수 있다.

* 람다, 람다 표현식이라고도 불리우는 람다 함수는 이름이 없는 함수
> 익명함수(anonymous function)로 부르기도 함
> 이름이 필요할 경우 할당하여 사용할 수 있다

* 주의: 표현식 안에서 새 변수를 선언할 수 없다
* 반환값은 변수없이 식 한줄로 표현할 수 있어야 하며, 복잡한 함수가 필요하면 def로 함수를 정의하여야 한다.
* return 문이 필요 없다

## 사용법

In [13]:
def add(x, y):
  return x + y

f = lambda x, y: x + y

print(add(1, 2))
print(f(1, 2))

3
3

In [16]:
def divide3(x):
  if x % 3 == 0:
    return 0
  else:
    return x
  
  
f = lambda x: 0 if x % 3 == 0 else x
print(f(3))
print(f(4))

0
4

# 맵(map) 함수와 람다
* 파이썬은 map() 이라는 내장함수를 제공하는데 열거가능한 자료형의 각 요소들에 대해서 매핑 함수를 적용한다

In [21]:
a = [1, 2, 3, 4, 5, 6, 7]
print(list(map(lambda x: x**2, a)))
print(tuple(map(lambda x: x**3, a)))

[1, 4, 9, 16, 25, 36, 49]
(1, 8, 27, 64, 125, 216, 343)

# 필터(filter) 함수와 람다
* 리스트에서 다룬 filter() 함수는 순환가능한 요소들을 함수에 넣어 그 리턴값이 참인 것만 묶어서 반환한다.

In [71]:
ages = [18, 19, 20, 39, 12, 43, 13, 21, 25]

def adult_func(age):
  if age >= 19:
    return True
  else:
    return False


for age in filter(lambda age: age >=19, ages):
  print(age)
  
adultAgesList = list(filter(lambda age: age>=19, ages))
print(adultAgesList)

adultAgesList = filter(lambda age: age>=19, ages)
print(type(adultAgesList))

19
20
39
43
21
25
[19, 20, 39, 43, 21, 25]
<class 'filter'>

# 람다 실습
* 1부터 10 사이의 정수를 가진 리스트에서 짝수만 나오게 필
터링한 결과 리스트의 모든 원소에 대해 제곱을 수행해서 리
스트로 반환하는 코드를 필터와 맵과 람다를 이용해서 작성
하시요.

In [55]:
a = list(range(1,10))

# for x in range(10):
#   a.append(x)

# 전체 원소 제곱한 리스트
square_a = list(map(lambda x:x**2, a))
print(square_a)

#짝수만 나오게 필터링한 리스트
a_odd = list(filter(lambda x: x%2==0, a))
print(a_odd)

#짝수 제곱 리스트
square_a_odd = list(map(lambda x:x**2, a_odd))
print(square_a_odd)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8]
[4, 16, 36, 64]

# Reduce 함수
* functools 모듈에 포함되어 있음
* 순환 가능 요소들을 같은 방법으로 연산하여 하나의 값을 얻는데 사용할 수 있다.
![image](https://user-images.githubusercontent.com/38340645/60755273-582d2380-a028-11e9-98f1-26d5b9fd8bc8.png)
![image](https://user-images.githubusercontent.com/38340645/60755278-6aa75d00-a028-11e9-881f-cb7ca9b3164b.png)

In [53]:
from functools import reduce

nums = list(range(1, 5))
sum = reduce(lambda x, y: x+y, nums)
print(sum) # 1+2 = 3 +3 = 6 +4 = 10

mul = reduce(lambda x, y: x*y, nums)
print(mul) #1*2 = 2 *3 = 6 *4 = 24

10
24

# 실습
* 1부터 10 사이의 정수를 가진 리스트에서 짝수만 나오게 필
터링한 결과 리스트의 모든 원소의 곱을 구하는 코드를
lambda, filter, reduce 함수를 사용해서 작성하시요.

In [57]:
print(a_odd)


a_odd_reduce = reduce(lambda x, y: x*y, a_odd)
print(a_odd_reduce)

[2, 4, 6, 8]
384

아래 코드는 reduce함수를 이용하는 것을 포함하여 파이썬으로 1-100 까지의 합을 구하는 총 3가지 방법입니다.

In [0]:
# 1-100 까지의 합을 구하라 
 
# C 언어 스타일의 해법
sum_value = 0
for i in range(1, 101) :
    sum_value += i 
print(sum_value)
 
# python 스러운 해법
sum_value = reduce((lambda x,y : x+y), [x for x in range(1,101)])
print(sum_value)
 
# 하지만 Data scientist가 가장 먼저 생각해는 해법 
import numpy as np
print(np.sum([x for x in range(1,101)])



출처: https://3months.tistory.com/338 [Deep Play]