<a href="https://colab.research.google.com/github/DionKimmm/2019SummerML/blob/master/Day2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print(2+3)
print(5-2)
print(4*5)
print(1/2)

5
3
20
0.5

In [0]:
print(5//3)
print(5**2)
print(5**3)
print(20%3)

1
25
125
2

In [0]:
print(5 < 6)
print('Hello' > 'World!')
print('홍길동' != '허균')
result = 13==4
print(result)
print(type(result))

True
False
True
False
<class 'bool'>

In [0]:
age = 10
if age == 10:
  print('10살입니다')
print('다른블럭입니다')
#기본적으로 블럭 나눌 때는 스페이스바 2칸 권장

10살입니다
다른블럭입니다

In [0]:
print('Hello, world!')
print(age)
name = '홍길동'
print('나의 이름은 ' + name)

Hello, world!
10
나의 이름은 홍길동

In [0]:
age = 20 
name = '홍길동' 
print(name, age) 
print('이름은', name, '나이는', age) 
print('이름은 '+ name + '나이는 '+str(age)) 
print('이름은 {} 나이는 {}'.format(name, age)) 
print('이름은 {0} 나이는 {1}'.format(name, age)) 
print('이름은 {1} 나이는 {0}'.format(age, name)) 
print('이름은 %s 나이는 %d'%(name, age)) 
print('pi = %f'%3.14)

홍길동 20
이름은 홍길동 나이는 20
이름은 홍길동나이는 20
이름은 홍길동 나이는 20
이름은 홍길동 나이는 20
이름은 홍길동 나이는 20
이름은 홍길동 나이는 20
pi = 3.140000.ff

In [0]:
print('나이는', age)
print('나이는 {}'.format(age))
print('나이는 ' + str(age))

나이는 20
나이는 20
나이는 20

# 시퀀스 자료형

### list

In [0]:
score = [30, 50, 90, 89, 56, 87, 45]
print(score)

[30, 50, 90, 89, 56, 87, 45]

In [0]:
items = [1, 3, 'Hello', 5.6, False, 89, 'World']
print(items)

[1, 3, 'Hello', 5.6, False, 89, 'World']

In [0]:
print(score[-1])
print(score[-3])

45
56

In [0]:
items.insert(2, 'world') #index [2] 자리에 world가 추가된다.
print(items)

[1, 3, 'world', 'world', 'Hello', 5.6, False, 89, 'World']

In [0]:
scores = [30, 50, 90, 89, 56]
length = len(scores)
print(length)

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9, 10]
print(list1 + list2)
print(list1 * 3)

5
[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [0]:
numbers = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(numbers[0:4])
print(numbers[:4])
print(numbers[7:9])
print(numbers[7:11])
print(numbers[7:])

[0, 10, 20, 30]
[0, 10, 20, 30]
[70, 80]
[70, 80, 90]
[70, 80, 90]

In [0]:
list1 = list(range(10)) # 0 ~ 9까지의 범위를 생성 
print(list1)
list2 = list(range(1, 10)) # 1 ~ 9까지의 범위를 생성 
print(list2)
list3 = list(range(1, 10, 2)) # 1 ~ 9까지의 범위에서 2씩 증가하는 범위
print(list3)
list4 = list(range(10, 0, -1)) # 10 ~ 1까지의 범위에서 1씩 감소하는 범위
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]