<a href="https://colab.research.google.com/github/DionKimmm/2019SummerML/blob/master/Day4_Dictionary%2CSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

* 키(key)-값(value)로 연관된 데이터들이 순서 없이 모인 자료형 
* 키를 통해서 데이터에 접근 가능 
* { } 를 사용하고 키:값 형식으로 저장하고 ‘,’(쉼표)로 구분한다. 
* 키는 중복될 수 없다.

In [0]:
student = {'name':'홍길동', 'major':'정보통신공학과', 'score':3.5} 
print(student) 
scores = {1:3.5, 2:4.0, 3:4.3, 4:4.2} 
print(scores)

{'name': '홍길동', 'major': '정보통신공학과', 'score': 3.5}
{1: 3.5, 2: 4.0, 3: 4.3, 4: 4.2}

## 생성
{ } 사용할 때는 { 'key' : 'value' } 로 중괄호와 :를 사용하고,
생성자를 이용할 때는 ( key = value ) 로 소괄호를 사용한다.

In [0]:
dic1 = {} #빈 딕셔너리 생성
print(dic1)
dic2 = dict() #생성자를 이용해서 딕셔너리 생성
dic3 = {'name':'item', 1:3.5, False:[1,2,3]}
print(dic3)
dic4 = dict(name='홍길동', height=180, age=20)
print(dic4)

{}
{'name': 'item', 1: 3.5, False: [1, 2, 3]}
{'name': '홍길동', 'height': 180, 'age': 20}

## 아이템 값가져오기

In [0]:
student = {'name':'홍길동', 'major':'정통과', 'score':3.5}
print(student['name'])
print(student['score'])

홍길동
3.5

## 수정, 추가, 삭제

In [0]:
student['major'] = '정보통신과'
student['grade'] = 4
del student['name']
print(student)

{'major': '정보통신과', 'score': 3.5, 'grade': 4}

## 실습) 딕셔너리의 Value 를 List화 하여 값 가져오기

In [0]:
student = {'name':'홍길동', 'major':'정통과', 'score':3.5}

keys = list(student.keys())
print(keys)

for key in keys:
  print(key, student[key])

['name', 'major', 'score']
name 홍길동
major 정통과
score 3.5

## Key, Value 가져오기

In [0]:
print(type(student))
print(student.items())
print(student.keys())
print(student.values())

<class 'dict'>
dict_items([('major', '정보통신과'), ('score', 3.5), ('grade', 4)])
dict_keys(['major', 'score', 'grade'])
dict_values(['정보통신과', 3.5, 4])

# Set
* 중복되지 않은 데이터들이 모인 집합 형태의 자료형
* 순서가 없음
* { } 를 사용하고 아이템들은 ' , ' (쉼표)로 구분

In [0]:
fruits = {'banana', 'apple', 'cherry', 'kiwi'}
print(fruits)
numbers = {1, 2, 3, 4, 5}
print(numbers)

{'banana', 'apple', 'kiwi', 'cherry'}
{1, 2, 3, 4, 5}

## 아이템 추가, 수정, 삭제
* 1개 값을 추가하는 add(), 여러개의 값 추가를 하는 update(), 값 삭제하는 remove()

In [0]:
set1 = {1, 2, 3}
set1.add(4)
print(set1)

set1.update([4, 5, 6])
print(set1)

set1.remove(5) #값 자체
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}

## 집합의 연산
* & : 교집합, | : 합집합, - : 차집합

In [0]:
set1 = set([0, 1, 2, 3, 4, 5, 6]) #생성자로 생성
set2 = set([4, 5, 6, 7, 8, 9, 10])

print(set1 & set2) # 교집합
print(set1.intersection(set2))

print(set1 | set2) # 합집합
print(set1.union(set2))

print(set1 - set2) # 차집합
print(set1.difference(set2))

{4, 5, 6}
{4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3}
{0, 1, 2, 3}

** tuple을 dict로 변환하기

In [0]:
t = (('a', 1), ('b', 2))
ret = dict(map(reversed, t))
print(ret)

{1: 'a', 2: 'b'}
dict_items([(1, 'a'), (2, 'b')])
dict_keys([1, 2])

# Unpacking

In [0]:
nums = [1, 2, 3, 4, 5] #list 선언
num1, num2, num3, num4, num5 = nums
print(num1, num2, num3, num4, num5)
num1, *num2, num3 = nums
print(num1, num2, num3)
*num1, num2, num3 = nums
print(num1, num2, num3)
num1, num2, *num3 = nums
print(num1, num2, num3)

nums = [1, 2, 3, 4, 5, 7, 8, 10] #list 선언
num1, *num2, num3 = nums
print(num1, num2, num3)
*num1, num2, num3 = nums
print(num1, num2, num3)
num1, num2, *num3 = nums
print(num1, num2, num3)

nums = (1, 2, 3) #tuple 선언
num1, num2, num3 = nums
print(num1, num2, num3)
num1, num2, _ = nums #1,2번째 만 받겠다
print(num1, num2)
_, _, num3 = nums #3번째만 받겠다
print(num3)

1 2 3 4 5
1 [2, 3, 4] 5
[1, 2, 3] 4 5
1 2 [3, 4, 5]
1 [2, 3, 4, 5, 7, 8] 10
[1, 2, 3, 4, 5, 7] 8 10
1 2 [3, 4, 5, 7, 8, 10]
1 2 3
1 2
3

## 딕셔너리를 언패킹하면 key값이 저장된다.

In [0]:
student = {'name':'홍길동', 'major':'정보통신', 'grade':3}
a, b, c = student
print(a, b, c)

name major grade

# 함수 실습
두 수와 연산자(문자열형)를 입력받아서 사칙연산을 수행하는 함수를 만드시오.

In [0]:
def calculator(first, operand, second) :
  if operand == '+':
    return first + second
  elif operand == '-':
    return first - second
  elif operand == '*':
    return first * second
  elif operand == '/':
    return first / second
  else:
    return 0
  
first, operand, second = input().split(' ')
first = int(first)
second = int(second)
calculator(first, operand, second)

3 * 5

15

# 반환형이 콜렉션일때 unpacking

In [0]:
def ret_list() :
  return [1, 2]
l = ret_list()
print(l)
n1, n2 = ret_list()
print(n1, n2)
n1, _ = ret_list()
print(n1)

[1, 2]
1 2
1

# 실습
젯수와 피젯수(정수형)을 입력받아 몫과 나머지를 튜플로 반환하는 함수를 만드시오.
divide(15, 4) 실행하면 (3, 3)을 반환하는 식으로 만드시오.

In [0]:
def divide(first, second):
  return (first//second, first%second) # 소괄호를 씀으로써 튜플 반환

a, b = input().split(' ')
a = int(a)
b = int(b)
divide(a, b)

15 4

(3, 3)